POSTGRES_USER=user
POSTGRES_PASSWORD=user123
POSTGRES_DB=db

DATABASE_URL=postgresql://user:user123@postgres:5432/db

PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin123
JWT_SECRET=

GEMINI_API_KEY=

SUPABASE_JWT_SECRET=

LOCATION_IQ_API_KEY=pk...